@import "tailwindcss";

/* body {
  background-color: #cfe7f9;
  text-shadow: 1px 1px rgb(120, 118, 118);
  color: rgb(255, 255, 255);
  font-family: "Adamina", serif;
} */

/* title="waves_by_WebStockReview" */
